@import 'nib'

// TODO: make function for translate 3d -> translate

ns = 'pict'

{ns}-el
  display block

:root
  -webkit-tap-highlight-color: transparent;

.{ns}-container
  position relative
  display inline-block

  .{ns}-hotspot
    opacity 0

  &.{ns}-show-dots
    .{ns}-hotspot
      opacity 0.8

  [data-view=tag]
    for num in (1..20)
      &:nth-child(n + {num})
        .{ns}-hotspot
          transition-delay: (num - 2) * 0.02s

.{ns}-tag
  tagHeight = 100px
  transitionSpeed = 0.15s
  width 200px
  height tagHeight
  margin-top: - ( tagHeight / 2 )
  background white
  box-shadow 0 0 5px rgba(0, 0, 0, 0.5)
  opacity 0.9
  position absolute
  margin-left 80px
  opacity 0
  transform translate(-10px, 0)
  transform translate3d(-10px, 0, 0)
  transition opacity transitionSpeed, transform transitionSpeed
  backface-visibility hidden

  &.{ns}-active
    opacity 0.8
    transform translate(0, 0)
    transform translate3d(0, 0, 0)

  &:after
    triangleSize = 10px
    content ''
    width 0
    height 0
    position absolute
    left triangleSize * -2
    top 50%
    border triangleSize solid transparent
    border-right-color white
    margin-top - triangleSize

  &:before
    content ''
    position absolute
    left -100px
    right 0
    top 0
    bottom 0
    background transparent

.{ns}-hotspot
  transitionSpeed = 0.15s
  radius = 15px
  z-index 2
  height radius * 2
  width radius * 2
  border-radius 100px
  transform translate(- radius, - radius)
  transform translate3d(- radius, - radius, 0)
  background white
  box-shadow 0 0 5px rgba(0, 0, 0, 0.5)
  position absolute
  opacity 0.8
  backface-visibility hidden

  .{ns}-no-touch &
    transition                      \
      opacity     transitionSpeed,  \
      width       transitionSpeed,  \
      height      transitionSpeed,  \
      border      transitionSpeed,  \
      top         transitionSpeed,  \
      left        transitionSpeed,  \
      background  transitionSpeed,  \
      transform   transitionSpeed,  \
      box-shadow  transitionSpeed

  .{ns}-touch &
    transition opacity transitionSpeed

  .{ns}-container:not(.{ns}-show-dots) &
    transform translate(- radius, - radius, 0) scale()
    transform translate3d(- radius, - radius, 0) scale(0.7)

  &.{ns}-active
    radius = 50px
    width radius * 2
    height radius * 2
    border 3px solid white
    transform translate(- radius, - radius)
    transform translate3d(- radius, - radius, 0)
    background transparent
